@media (max-width:1024px) {

    .article2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 40%;
        gap: 20px;
    }

    .article1 {
        display: flex;
        padding: 15px;
        max-width: 100%;
        margin: 20px;
        height: 20%;
        background-color: rgba(255, 255, 255, 255);
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;

        width: 100%;
        gap: 20px;
        height: 100%;
        background-color: rgba(34, 114, 187, 255);
    }

    .b1 {
        height: 100%;
        max-width: 90%;
    }


    .fatherinfo2 {
        display: flex;
        justify-content: space-between;

        width: 600px;
        max-height: 400px;
        padding: 10px;
    }

    .infodiv {
        width: 50%;

    }

}





@media (max-width:600px) {

    .logo {
        margin-bottom: 10px;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        justify-content: space-between;

    }

    header {
        display: flex;
        flex-direction: column;
        height: 300px;
        width: 100%;
    }

    .buttonhead {
        display: flex;
        max-width: 200px;
    }

    input {
        max-width: 40%;
    }

    section {
        position: relative;
    }

    nav {
        position: absolute;
        display: flex;
        justify-content: start;
        background-color: #11385c;
        max-width: 200px;
        height: 100vh;
        z-index: 2;
    }

    .fatherinfo {
        display: flex;
        max-width: 200px;
        flex-direction: column;
        align-items: center;
        height: 200px;
        justify-content: space-evenly;
        position: relative;
    }

    .fatherinfo2 {
        display: flex;
        justify-content: space-evenly;
        max-width: 400px;
        height: 400px;
    }

    .infodiv {
        width: 50%;
        height: 80%;
    }
}

@media (max-width:420px) {

    body {
        display: flex;

        min-height: 100vh;
        width: 100vw;

    }

    footer {

        gap: 0;
    }

    .fatherinfo2 {
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        max-width: 270px;
        max-height: 400px;
        gap: 5px;
    }

    .infodiv {

        display: flex;
        height: 50%;
        width: 100%;
    }
}